Project3_Generating a chat using Streamlit.json
{
  "name": "Project3:Generating a chat using Streamlit",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9a95d7e1-dce0-41fd-8bf9-e1c634a53d12",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -64,
        -32
      ],
      "id": "71c8dae2-d34d-4706-8f16-8f81864618ba",
      "name": "Webhook",
      "webhookId": "9a95d7e1-dce0-41fd-8bf9-e1c634a53d12"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        144,
        -32
      ],
      "id": "22040882-8bc3-411d-a317-e0425627c3b8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        192,
        144
      ],
      "id": "86c4fd28-a52d-48b2-a4f9-2ba0d5372031",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "GojH6Eo6PGAPHApj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        496,
        -32
      ],
      "id": "b16c0d26-6064-4736-81bb-0532fb426219",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.webhookUrl }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        400,
        144
      ],
      "id": "e2cd5fc9-f50f-4f52-a175-5971a21dc3c6",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "content": "",
        "height": 352,
        "width": 864,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        -48
      ],
      "typeVersion": 1,
      "id": "6a321f02-b096-4c26-a210-cccfc8e71bec",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 🤖 SmartBot – Your Intelligent AI Assistant",
        "height": 80,
        "width": 512,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        -144
      ],
      "typeVersion": 1,
      "id": "090fd60e-bcb5-415c-a5fe-c8b9f0fd7845",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "28f3c19c-7e79-40df-aaea-9070b73f92e7",
  "meta": {
    "instanceId": "03ff1b29d61cc9410e253fe87a1df655a58a75c624081f830e7e204d9e0e18e6"
  },
  "id": "FlAMcMGGBWoVOLxQ",
  "tags": []
}